
<%- include("./partials/header.ejs"); -%>
    <% posts.forEach((post)=>{ %>
        <h1><%=post.postTitle%></h1>
        <h6>Author - <em><strong><%=post.createdBy%></strong> </em> <%=post.createdAt.toString().substring(0,16)%></h6>
               
        <p><%=post.postBody.substring(0,100)+"..."%><a href="/posts/<%=post._id%>">Read More</a> </p>
        
    <%});%>
<%- include("./partials/footer.ejs"); -%>
