
<%- include("./partials/header.ejs"); -%>
    <% posts.forEach((post)=>{ %>
        <h1><%=post.postTitle%></h1>
        
        <p><%=post.postBody.substring(0,100)+"..."%><a href="/posts/<%=post.postTitle%>">Read More</a> </p>
    <%});%>
<%- include("./partials/footer.ejs"); -%>